html{
  background-color: #202023;
  color:white;
  display: block;
  justify-content: center;
}

.App{
  text-align: center;
}

.Weather{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.SubmitButton{
  font-size: 20px;
  border-radius: 50px;
  margin: 50px 50px;
}

.Checkboxes{
  display: flex;
  flex-flow: row;
  justify-content: center;

  
}
