html {
  background-color: #202023;
  color: white;
  display: block;
  justify-content: center;
}

.App {
  text-align: center;
}

.Weather {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.Buttons {
  font-size: 20px;
  border-radius: 50px;
  margin: 50px 50px;

}

.Checkboxes {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.ListOfCheckboxes {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding: 100px 20px;
}